
Project0/degrees/.DS_Store
Project0/.DS_Store
Project1/knights/src1/puzzle.py
Project1/knights/src1/mastermind.py
Project1/knights/src1/logic.py
Project1/knights/src1/harry.py
Project1/knights/src1/clue.py
Project1/knights/src1/__pycache__/logic.cpython-38.pyc
